<footer class="footer">
	<div class="has-text-centered">
    <strong class="has-text-white">MyCookBookApp © 2022</strong> by <span>Cristina Sias</span>. The source code is licensed
    <span>CSA</span>. The website content
			is licensed <span>CC BY NC SA 4.0</span>.
	</div>
</footer>