<section class="hero is-primary  is-medium hero-home">
  <div class="hero-body">
    <p class="title is-size-1 has-text-centered">
     All your recipes in one place!
    </p>
    <div class="hero-subtitle is-centered">
    <p class="subtitle is-size-3 ">
      Food, Family, Friends and recipe inspiration!
    </p>
    </div>
  </div>
</section>


