<div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= image_tag 'https://my-cookbook-photos.s3.amazonaws.com/logo.png' %>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "All Recipes" ,recipes_path ,class: "navbar-item" %>
      <%= link_to "Breakfast" ,breakfast_path ,class: "navbar-item" %>
      <%= link_to "Lunch" , lunch_path,class: "navbar-item" %>
      <%= link_to "Dinner" ,dinner_path ,class: "navbar-item" %>
      <% if Current.user %>
        <%= link_to "My recipes" ,users_recipes_path ,class: "navbar-item" %>
        <%= link_to "New Recipe" ,users_recipe_create_path ,class: "navbar-item" %>
      <%end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if Current.user %>
            <span class="mr-1 ml-1">Hey,  <%= Current.user.name %></span>
            <div class="navbar-start">
              <%= button_to "Logout",logout_path,method: :delete,class: "button"%>
            </div>
          <%else %>
            <%= link_to "Sign up" ,register_path ,class: "button is-primary" %>
            <%= link_to "Log in" ,login_path ,class: "button is-light" %>
          <%end %>

        </div>
      </div>
    </div>
  </div>
</nav>
</div>