<section class="hero is-small is-primary">
  <div class="hero-body">
    <p class="title is-size-1 hero-subtitle-user">
     My recipes
    </p>
  </div>
</section>

<div class="container">
  <% if @recipes.size==0 %>
    <div class="notification is-info is-light">
      No Recipes available
    </div>
  <% else %>
    <div class="is-flex is-flex-wrap-wrap">
      <% @recipes.each do |recipe|%>
        <div class="column is-3">
          <div class="card recipe_card">
            <span class="tag is-dark category_label"><%=recipe.category.name %></span>
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="<%=recipe.photo %>" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <p class="title is-5"><%=recipe.name %></p>
                <div class="mt-0 is-flex-direction-row is-justify-content-space-between">
              <span>
               <span class="icon">
                   <i class="bi bi-clock"></i>
               </span>
              <span class="is-size-7">
                  <%=(recipe.cook.to_i + recipe.prep.to_i) %>  mins
              </span>
            </span>

                </div>
              </div>
              <div class="is-flex">
                <a href="/recipes/<%= recipe.id %>" class="ml-3">
                  <button class="button is-black is-small">View</button>
                </a>
                <a href="/users/recipes/<%= recipe.id %>/edit" class="ml-3">
                  <button class="button is-success is-small">Edit</button>
                </a>
                <form action="/users/recipes/<%= recipe.id %>/delete" method="post" class="is-hoverable ml-3">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="user_id" value="<%= Current.user.id %>">
                  <button class="button is-danger is-small">Delete</button>
                </form>
              </div>

            </div>
          </div>
        </div>
      <% end %>
  <% end %>
  </div>
</div>