html, body {
    background-color: white!important;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
main{
    min-height: 80vh;
    background-color: #fafafa;
    margin-top: 25px;
}
.hero-home{
    background-image: url('https://my-cookbook-photos.s3.amazonaws.com/platter-g01cf37a5c_1920.jpg');
    box-shadow:inset 0 0 0 2000px rgba(255, 0, 150, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-breakfast{
    background-image: url('https://my-cookbook-photos.s3.amazonaws.com/food-g4a0d582fa_1920.jpg');
    box-shadow:inset 0 0 0 2000px rgba(3, 0, 150, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-lunch{
    background-image: url('https://my-cookbook-photos.s3.amazonaws.com/food-gcd258fadd_1280.jpg');
    box-shadow:inset 0 0 0 2000px rgba(3, 0, 150, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-dinner{
    background-image: url('https://my-cookbook-photos.s3.amazonaws.com/green-curry-g3696db1cc_1280.jpg');
    box-shadow:inset 0 0 0 2000px rgba(3, 0, 150, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
}



.hero-subtitle{
    background-color: #00d1b2;
    padding:20px 50px;
    width: fit-content;
    margin: auto;
    text-shadow: 2px 2px 8px dimgray;
}
.hero-subtitle-user{
    background-color: #00d1b2;
    padding:20px 50px;
    width: fit-content;
    text-shadow: 2px 2px 8px dimgray;
}
.navbar {
    height: 80px;
    padding: 0 !important;
    margin-bottom: 0;
}

.navbar-start .navbar-item {
    font-weight: 600;
}

.navbar-start .navbar-item:hover {
    background: #ffffff;
    color: black;
}

.input:focus {
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.notification {
    position: absolute;
}


.message_border{
    border-left: 4px solid #00d1b2 !important;;
}
.message-header{
    background: transparent !important;
    color: black !important;
    font-size: 18px;
}

.flash{
    min-width: 100% !important;
}
.navbar-start{
    margin: 0 45px !important;
}
.recipe_card{
    position: relative !important;
}
.category_label{
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 100;
}



footer.footer{
    background: #2a2828 !important;
    padding: 20px 0 !important;
    color: white;
}