<section class="hero is-small is-primary">
  <div class="hero-body">
    <p class="title is-size-1 hero-subtitle-user">
   <%=@recipe.name %>
    </p>
  </div>
</section>
  <section class="is-relative section">
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-12 is-6-tablet is-5-desktop mb-0-desktop">
          <figure class="image is-4by3">
            <img src="<%=@recipe.photo %>" alt="Placeholder image">
          </figure>
          <div class="ingredient has-background-primary has-text-white p-5">
            <p class="mt-6 mb-6 has-text-justified">
              <span class="has-text-weight-semibold">
              Ingredients:
              </span><br>
              <%= @recipe.ingredient %>
            </p>
          </div>

        </div>
        <div class="column is-12 is-7-tablet is-7-desktop p-6 has-background-white-ter">
          <div class="has-mw-xl-desktop">
            <h4 class="mb-16 mb-24-desktop has-text-black is-size-5 mb-5">Origin: <%=@recipe.country %></h4>
            <div class="content">
              <div class="mt-0 is-flex-direction-row is-justify-content-space-between">
              <span>
               <span class="icon">
                   <i class="bi bi-clock"></i>
               </span>
              <span class="is-size-7">
                Prep:
                  <%=(@recipe.prep.to_i) %>  mins
              </span>
            </span>
                <span>
                 <span class="icon">
                     <i class="bi bi-clock"></i>
                 </span>
                <span class="is-size-7">
                  Cook:
                  <%=(@recipe.cook.to_i) %>  mins
                </span>
            </span>
                <span>
                 <span class="icon">
                     <i class="bi bi-clock"></i>
                 </span>
                <span class="is-size-7">
                  Ready In:
                  <%=(@recipe.cook.to_i + @recipe.prep.to_i) %>  mins
                </span>
            </span>
                <span>
               <span class="icon mx-0">
                   <i class="bi bi-person"></i>
               </span>
              <span class="is-size-7">
                   <%= @recipe.user.name %>
              </span>
            </span>
              </div>
            </div>
            <div class="instruction mt-6">
              <p class="has-text-justified"><%= @recipe.direction %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
