<!DOCTYPE html>
<html>
<head>
  <title>My CookBook: All your recipes in one place.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <%= stylesheet_link_tag "application" %>
  <link rel="icon" type="image/x-icon" href="https://my-cookbook-photos.s3.amazonaws.com/favicon.ico">
</head>

<body>

<%= render partial: "partials/nav" %>
<main>
  <div class="container">
      <div class="columns is-mobile">
        <div class="column">
          <%= render partial: "partials/flash" %>
        </div>
      </div>
  </div>
  <%= yield %>
</main>
<%= render partial: "partials/footer"%>
</body>
</html>
